[package]
name = "mountpoint-s3"
version = "1.4.0"
edition = "2021"
license = "Apache-2.0"
publish = false

[dependencies]
fuser = { path = "../vendor/fuser", version = "0.14.0", features = ["abi-7-28"] }
mountpoint-s3-client = { path = "../mountpoint-s3-client", version = "0.6.2" }
mountpoint-s3-crt = { path = "../mountpoint-s3-crt", version = "0.6.0" }

anyhow = { version = "1.0.64", features = ["backtrace"] }
async-channel = "2.1.1"
async-lock = "3.3.0"
async-trait = "0.1.57"
bincode = "1.3.3"
bytes = { version = "1.2.1", features = ["serde"] }
clap = { version = "4.1.9", features = ["derive"] }
const_format = "0.2.30"
crc32c = "0.6.3"
ctrlc = { version = "3.2.3", features = ["termination"] }
dashmap = "5.5.0"
futures = "0.3.24"
hdrhistogram = { version = "7.5.2", default-features = false }
hex = "0.4.3"
lazy_static = "1.4.0"
libc = "0.2.126"
linked-hash-map = "0.5.6"
metrics = "0.21.1"
nix = { version = "0.27.1", features = ["user"] }
regex = "1.7.1"
serde = { version = "1.0.190", features = ["derive"] }
serde_json = "1.0.95"
sha2 = "0.10.6"
supports-color = "2.0.0"
syslog = "6.1.0"
thiserror = "1.0.34"
time = { version = "0.3.17", features = ["macros", "formatting"] }
tracing = { version = "0.1.35", features = ["log"] }
tracing-log = "0.2.0"
tracing-subscriber = { version = "0.3.14", features = ["env-filter"] }

[target.'cfg(target_os = "linux")'.dependencies]
procfs = { version = "0.16.0", default-features = false }

[dev-dependencies]
mountpoint-s3-client = { path = "../mountpoint-s3-client", features = ["mock"] }

assert_cmd = "2.0.6"
assert_fs = "1.1.1"
aws-config = "1.1.4"
aws-sdk-s3 = "1.14.0"
aws-sdk-sts = "1.12.0"
base16ct = { version = "0.1.1", features = ["alloc"] }
ctor = "0.2.6"
filetime = "0.2.21"
futures = { version = "*", features = ["thread-pool"] }
predicates = "3.1.0"
proptest = "1.4.0"
proptest-derive = "0.4.0"
rand = "0.8.5"
rand_chacha = "0.3.1"
rusty-fork = "0.3.0"
serial_test = "2.0.0"
sha2 = "0.10.6"
shuttle = { version = "0.5.0" }
tempfile = "3.4.0"
test-case = "2.2.2"
tokio = { version = "1.24.2", features = ["rt", "macros"] }
walkdir = "2.3.3"

[build-dependencies]
built = { version = "0.7.1", features = ["git2"] }

[features]
# Unreleased feature flags
sse_kms = []
# Features for choosing tests
fips_tests = []
fuse_tests = []
s3_tests = []
s3express_tests = []
shuttle = []

[[bin]]
name = "mount-s3"
path = "src/main.rs"
