[package]
name = "mountpoint-s3"
version = "1.19.0"
edition = "2021"
license = "Apache-2.0"
publish = false
default-run = "mount-s3"

[dependencies]
mountpoint-s3-fs = { path = "../mountpoint-s3-fs", version = "0.5.0" }
mountpoint-s3-client = { path = "../mountpoint-s3-client", version = "0.16.0" }

anyhow = { version = "1.0.95", features = ["backtrace"] }
clap = { version = "4.5.27", features = ["derive"] }
const_format = "0.2.34"
futures = "0.3.31"
nix = { version = "0.29.0", default-features = false, features = ["fs", "process", "signal", "user"] }
owo-colors = { version = "4.1.0", features = ["supports-colors"] }
regex = "1.11.1"
serde = "1.0.217"
serde_json = "1.0.137"
sysinfo = "0.33.1"
tracing = "0.1.41"

[dev-dependencies]
mountpoint-s3-client = { path = "../mountpoint-s3-client", features = ["mock"] }
mountpoint-s3-fuser = { path = "../mountpoint-s3-fuser" }
assert_cmd = "2.0.16"
assert_fs = "1.1.2"
aws-config = "1.5.15"
aws-credential-types = "1.2.1"
aws-sdk-s3 = "1.71.0"
futures = { version = "0.3.31", features = ["thread-pool"] }
predicates = "3.1.3"
proptest = "1.6.0"
proptest-derive = "0.5.1"
syscalls = "0.6.18"
rand = "0.8.5"
rand_chacha = "0.3.1"
serde = { version = "1.0.217", features = ["derive"] }
test-case = "3.3.1"
tempfile = "3.15.0"
tokio = { version = "1.44.2" }
tracing = { version = "0.1.41", features = ["log"] }

[build-dependencies]
built = { version = "0.7.5", features = ["git2"] }

[features]
# Unreleased feature flags
block_size = ["mountpoint-s3-fs/block_size"]
event_log = ["mountpoint-s3-fs/event_log"]
mem_limiter = ["mountpoint-s3-fs/mem_limiter"]
# Features for choosing tests
s3_tests = ["mountpoint-s3-fs/s3_tests"]
fuse_tests = ["mountpoint-s3-fs/fuse_tests"]
s3express_tests = ["mountpoint-s3-fs/s3express_tests"]
# Other feature flags
mock = ["mountpoint-s3-client/mock", "futures/thread-pool", "tracing/log"]

[lib]
doctest = false

[[bin]]
name = "mount-s3"
path = "src/main.rs"

[[bin]]
name = "mock-mount-s3"
path = "src/bin/mock-mount-s3.rs"
required-features = ["mock"]

[[bin]]
name = "mount-s3-log-analyzer"
path = "src/bin/mount-s3-log-analyzer.rs"

[[bin]]
name = "file-system-benchmarks"
path = "src/bin/file-system-benchmarks.rs"
