[package]
name = "mountpoint-s3-client"
# See `/doc/PUBLISHING_CRATES.md` to read how to publish new versions.
version = "0.15.1"
edition = "2021"
license = "Apache-2.0"
repository = "https://github.com/awslabs/mountpoint-s3"
description = "High-performance Amazon S3 client for Mountpoint for Amazon S3."

[dependencies]
mountpoint-s3-crt = { path = "../mountpoint-s3-crt", version = "0.12.4" }

async-trait = "0.1.85"
auto_impl = "1.2.1"
base64ct = { version = "1.6.0", features = ["std"] }
bytes = "1.10.1"
const_format = "0.2.34"
futures = "0.3.31"
metrics = "0.24.1"
percent-encoding = "2.3.1"
pin-project = "1.1.8"
platform-info = "2.0.5"
regex = "1.11.1"
aws-config = "1.5.15"
aws-sdk-s3control = "1.0"
aws-sdk-sts = "1.0"
aws-credential-types = "1.2.1"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0.137"
static_assertions = "1.1.0"
thiserror = "2.0.11"
time = { version = "0.3.37", features = ["formatting", "parsing"] }
tokio = { version = "1.0", features = ["sync", "rt"] }
tracing = { version = "0.1.41", default-features = false, features = ["std", "log"] }
xmltree = "0.11.0"

# Dependencies for the mock client only
async-io = { version = "2.4.0", optional = true }
async-lock = { version = "3.4.0", optional = true }
md-5 = { version = "0.10.6", optional = true }
rand = { version = "0.8.5", optional = true }
rand_chacha = { version = "0.3.1", optional = true }

[dev-dependencies]
aws-config = "1.5.15"
aws-credential-types = "1.2.1"
aws-sdk-s3 = "1.71.0"
aws-smithy-runtime-api = "1.7.3"
clap = { version = "4.5.27", features = ["derive"] }
ctor = "0.2.9"
proptest = "1.6.0"
rusty-fork = "0.3.0"
tempfile = "3.15.0"
test-case = "3.3.1"
tokio = { version = "1.44.2", features = ["rt", "rt-multi-thread", "macros"] }
tracing-subscriber = { version = "0.3.19", features = ["fmt", "env-filter"] }

# HACK: we want our own tests to use the mock client, but don't want to enable it for consumers by
# default, so we take a dev-dependency on ourself with that feature enabled.
# https://github.com/rust-lang/cargo/issues/2911#issuecomment-749580481
mountpoint-s3-client = { path = ".", features = ["mock"] }
supports-color = "3.0.2"

[build-dependencies]
built = { version = "0.7.5", features = ["git2"] }

[features]
mock = ["dep:async-io", "dep:async-lock", "dep:md-5", "dep:rand", "dep:rand_chacha"]
# Features for choosing tests
s3_tests = []
fips_tests = []
s3express_tests = []

[lib]
doctest = false
