[package]
name = "mountpoint-s3-client"
# See `/mountpoint-s3-client/PUBLISHING_CRATES.md` to read how to publish new versions.
version = "0.9.0"
edition = "2021"
license = "Apache-2.0"
repository = "https://github.com/awslabs/mountpoint-s3"
description = "High-performance Amazon S3 client for Mountpoint for Amazon S3."

[dependencies]
mountpoint-s3-crt = { path = "../mountpoint-s3-crt", version = "0.7.1" }
mountpoint-s3-crt-sys = { path = "../mountpoint-s3-crt-sys", version = "0.7.1" }

async-trait = "0.1.57"
auto_impl = "1.1.2"
base64ct = { version = "1.6.0", features = ["std"] }
const_format = "0.2.30"
futures = "0.3.24"
lazy_static = "1.4.0"
libc = "0.2.126"
metrics = "0.22.1"
once_cell = "1.16.0"
percent-encoding = "2.2.0"
pin-project = "1.0.12"
platform-info = "2.0.2"
regex = "1.7.1"
serde_json = "1.0.104"
static_assertions = "1.1.0"
thiserror = "1.0.34"
time = { version = "0.3.17", features = ["formatting", "parsing"] }
tracing = { version = "0.1.35", default-features = false, features = ["std", "log"] }
xmltree = "0.10.3"

# Dependencies for the mock client only
async-io = { version = "2.3.1", optional = true }
async-lock = { version = "3.3.0", optional = true }
md-5 = { version = "0.10.5", optional = true }
rand = { version = "0.8.5", optional = true }
rand_chacha = { version = "0.3.1", optional = true }

[dev-dependencies]
anyhow = { version = "1.0.64", features = ["backtrace"] }
aws-config = "1.2.0"
aws-credential-types = "1.2.0"
aws-sdk-s3 = "1.23.0"
aws-sdk-sts = "1.20.0"
aws-smithy-runtime-api = "1.2.0"
bytes = "1.2.1"
clap = { version = "4.1.9", features = ["derive"] }
ctor = "0.2.6"
proptest = "1.4.0"
rusty-fork = "0.3.0"
tempfile = "3.5.0"
test-case = "2.2.2"
tokio = { version = "1.24.2", features = ["rt", "macros"] }
tracing-subscriber = { version = "0.3.14", features = ["fmt", "env-filter"] }

# HACK: we want our own tests to use the mock client, but don't want to enable it for consumers by
# default, so we take a dev-dependency on ourself with that feature enabled.
# https://github.com/rust-lang/cargo/issues/2911#issuecomment-749580481
mountpoint-s3-client = { path = ".", features = ["mock"] }

[build-dependencies]
built = { version = "0.7.1", features = ["git2"] }

[features]
mock = ["dep:async-io", "dep:async-lock", "dep:md-5", "dep:rand", "dep:rand_chacha"]
# Features for choosing tests
s3_tests = []
fips_tests = []
s3express_tests = []

[lib]
doctest = false

# Make async trait docs not-ugly on docs.rs (https://github.com/dtolnay/async-trait/issues/213)
[package.metadata.docs.rs]
rustdoc-args = ["--cfg", "docs_rs"]
