[package]
name = "mountpoint-s3-fs"
# See `/doc/PUBLISHING_CRATES.md` to read how to publish new versions.
version = "0.6.0"
edition = "2024"
license = "Apache-2.0"
repository = "https://github.com/awslabs/mountpoint-s3"
description = "Mountpoint S3 main library"

[dependencies]
mountpoint-s3-fuser = { path = "../mountpoint-s3-fuser", version = "0.1.0", features = ["abi-7-28"] }
mountpoint-s3-client = { path = "../mountpoint-s3-client", version = "0.18.0", features = ["restore_buffer_copy"] }

anyhow = { version = "1.0.98", features = ["backtrace"] }
async-channel = "2.3.1"
async-lock = "3.4.0"
async-stream = "0.3.6"
async-trait = "0.1.88"
base64ct = "1.8.0"
bincode = { version = "2.0.1", features = ["std"] }
bitflags = "2.9.1"
bytes = { version = "1.10.1", features = ["serde"] }
clap = { version = "4.5.40", features = ["derive"] }
const_format = "0.2.34"
crc32c = "0.6.8"
csv = { version = "1.3.1", optional = true }
ctrlc = { version = "3.4.7", features = ["termination"] }
dashmap = "6.1.0"
futures = "0.3.31"
hdrhistogram = { version = "7.5.4", default-features = false }
hex = "0.4.3"
humansize = "2.1.3"
libc = "0.2.174"
linked-hash-map = "0.5.6"
metrics = "0.24.2"
nix = { version = "0.29.0", default-features = false, features = ["fs", "process", "signal", "user"] }
rand = "0.8.5"
regex = "1.11.1"
rusqlite = { version = "0.36.0", features = ["bundled"], optional = true }
serde = { version = "1.0.219", features = ["derive"] }
serde_json = "1.0.140"
sha2 = "0.10.9"
signal-hook = "0.3.18"
supports-color = "3.0.2"
sysinfo = "0.35.2"
syslog = "7.0.0"
tempfile = "3.20.0"
thiserror = "2.0.12"
time = { version = "0.3.41", features = ["macros", "formatting", "serde-well-known"] }
tracing = { version = "0.1.41", features = ["log"] }
tracing-log = "0.2.0"
tracing-subscriber = { version = "0.3.19", features = ["env-filter"] }
opentelemetry = { version = "0.30.0", features = ["metrics"] }
opentelemetry_sdk = { version = "0.30.0", features = ["metrics", "rt-tokio"] }
opentelemetry-otlp = { version = "0.30.0", features = ["metrics", "http-proto"] }

[target.'cfg(target_os = "linux")'.dependencies]
procfs = { version = "0.17.0", default-features = false }

[dev-dependencies]
mountpoint-s3-client = { path = "../mountpoint-s3-client", features = ["mock"] }
opentelemetry-proto = { version = "0.30.0", features = ["metrics", "gen-tonic"] }
prost = "0.12.0"

assert_cmd = "2.0.17"
assert_fs = "1.1.3"
aws-config = "1.8.0"
aws-credential-types = "1.2.3"
aws-sdk-s3 = "1.94.0"
criterion = { version = "0.6.0", features = ["async", "async_futures"] }
ctor = "0.4.2"
filetime = "0.2.25"
futures = { version = "0.3.31", features = ["thread-pool"] }
httpmock = "0.7.0"
predicates = "3.1.3"
proptest = "1.7.0"
proptest-derive = "0.5.1"
rand = "0.8.5"
rand_chacha = "0.3.1"
serial_test = "3.2.0"
sha2 = "0.10.9"
shuttle = { version = "0.8.1" }
syscalls = {version = "0.6.18", default-features = false}
test-case = "3.3.1"
tokio = { version = "1.45.1", features = ["rt", "macros"] }
walkdir = "2.5.0"

[features]
# Unreleased and/or experimental features: not enabled in the release binary and may be dropped in future
block_size = []
event_log = []
mem_limiter = []
manifest = ["csv", "rusqlite"]
otlp_integration = []
# Features for choosing tests
fips_tests = []
fuse_tests = []
s3_tests = []
s3express_tests = []
shuttle = []
second_account_tests = []

[[example]]
name = "mount_from_config"
required-features = ["manifest", "event_log"]

[[bench]]
name = "cache_serialization"
harness = false
