[package]
name = "mountpoint-s3-fs"
# See `/doc/PUBLISHING_CRATES.md` to read how to publish new versions.
version = "0.3.0"
edition = "2021"
license = "Apache-2.0"
repository = "https://github.com/awslabs/mountpoint-s3"
description = "Mountpoint S3 main library"

[dependencies]
mountpoint-s3-fuser = { path = "../mountpoint-s3-fuser", version = "0.1.0", features = ["abi-7-28"] }
mountpoint-s3-client = { path = "../mountpoint-s3-client", version = "0.14.1" }

anyhow = { version = "1.0.95", features = ["backtrace"] }
async-channel = "2.3.1"
async-lock = "3.4.0"
async-stream = "0.3.6"
async-trait = "0.1.85"
base64ct = "1.6.0"
bincode = "1.3.3"
bitflags = "2.8.0"
bytes = { version = "1.10.1", features = ["serde"] }
clap = { version = "4.5.27", features = ["derive"] }
const_format = "0.2.34"
crc32c = "0.6.8"
ctrlc = { version = "3.4.5", features = ["termination"] }
dashmap = "6.1.0"
futures = "0.3.31"
hdrhistogram = { version = "7.5.4", default-features = false }
hex = "0.4.3"
humansize = "2.1.3"
libc = "0.2.169"
linked-hash-map = "0.5.6"
metrics = "0.24.1"
nix = { version = "0.29.0", default-features = false, features = ["fs", "process", "signal", "user"] }
rand = "0.8.5"
regex = "1.11.1"
rusqlite = { version = "0.34.0", features = ["bundled"], optional = true }
serde = { version = "1.0.217", features = ["derive"] }
serde_json = "1.0.137"
sha2 = "0.10.8"
supports-color = "3.0.2"
sysinfo = "0.33.1"
syslog = "7.0.0"
thiserror = "2.0.11"
time = { version = "0.3.37", features = ["macros", "formatting"] }
tracing = { version = "0.1.41", features = ["log"] }
tracing-log = "0.2.0"
tracing-subscriber = { version = "0.3.19", features = ["env-filter"] }
signal-hook = "0.3.17"
csv = { version = "1.3.1", optional = true }

[target.'cfg(target_os = "linux")'.dependencies]
procfs = { version = "0.17.0", default-features = false }

[dev-dependencies]
mountpoint-s3-client = { path = "../mountpoint-s3-client", features = ["mock"] }

assert_cmd = "2.0.16"
assert_fs = "1.1.2"
aws-config = "1.5.15"
aws-credential-types = "1.2.1"
aws-sdk-s3 = "1.71.0"
criterion = { version = "0.6.0", features = ["async", "async_futures"] }
ctor = "0.2.9"
filetime = "0.2.25"
futures = { version = "0.3.31", features = ["thread-pool"] }
httpmock = "0.7.0"
predicates = "3.1.3"
proptest = "1.6.0"
proptest-derive = "0.5.1"
rand = "0.8.5"
rand_chacha = "0.3.1"
serial_test = "3.2.0"
sha2 = "0.10.8"
shuttle = { version = "0.8.0" }
tempfile = "3.15.0"
test-case = "3.3.1"
tokio = { version = "1.44.2", features = ["rt", "macros"] }
walkdir = "2.5.0"

[features]
# Unreleased and/or experimental features: not enabled in the release binary and may be dropped in future
block_size = []
event_log = []
mem_limiter = []
manifest = ["csv", "rusqlite"]
# Features for choosing tests
fips_tests = []
fuse_tests = []
s3_tests = []
s3express_tests = []
shuttle = []
second_account_tests = []

[[example]]
name = "manifest_to_sqlite"
required-features = ["manifest"]

[[example]]
name = "mount_from_config"
required-features = ["manifest"]

[[bench]]
name = "cache_serialization"
harness = false
