name: Benchmarks

on:
  push:
    branches: [ "main", "wf-changes/**" ]
  schedule:
    - cron: "0 */8 * * *" # every 8 hours

permissions:
  id-token: write
  contents: write

jobs:
  integration:
    name: Benchmarks
    uses: ./.github/workflows/bench.yml
    with:
      ref: ${{ github.event.after }}
      publish: ${{ github.event.ref == 'refs/heads/main' }}
      s3_bench_results_prefix: ${{ github.event_name == 'schedule' && 'results/main' || null }}
  s3express-integration:
    name: Benchmarks (s3express)
    uses: ./.github/workflows/bench_s3express.yml
    with:
      ref: ${{ github.event.after }}
      publish: ${{ github.event.ref == 'refs/heads/main' }}
      s3_bench_results_prefix: ${{ github.event_name == 'schedule' && 'results/main' || null }}
