name: Crate checks

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  merge_group:
    types: [ "checks_requested" ]

permissions:
  contents: read

jobs:
  verify-crate:
    name: Verify crate
    runs-on: ubuntu-22.04

    strategy:
      matrix:
        crate:
          - mountpoint-s3-crt-sys

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          submodules: true
      - name: Set up Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          # setup-rust-toolchain sets "-D warnings" by default, and Rust treats any warning as compile error.
          # We need to do this currently because `mountpoint-s3-fuser` contains some warnings and it breaks the build.
          rustflags: ""
      - name: Package ${{ matrix.crate }} crate
        # `--no-verify` avoids building using crates.io dependencies, which for local packages may not be updated yet
        run: cargo package -p ${{ matrix.crate }} --no-verify
      - name: Verify compressed crate size is smaller than crates.io limit
        run: |
          ls -alh target/package/*.crate
          test `cat target/package/*.crate | wc -c` -le 10485760
