name: Integration tests (PR)

on:
  pull_request_target:

permissions:
  id-token: write
  contents: read

jobs:
  integration:
    name: Integration
    uses: ./.github/workflows/integration.yml
    with:
      environment: PR integration tests
      ref: ${{ github.event.pull_request.head.sha }}
